name: Linux aarch64 Build with PGO

on: workflow_dispatch

jobs:
  build-with-enable-profile-generate:
    name: Build with --enable-profile-generate
    
    runs-on: ubuntu-22.04
    
    steps:
    - name: Init
      run: |
        export RUNNER_USERDIR=`echo ~`
        echo "RUNNER_USERDIR=$RUNNER_USERDIR" >> $GITHUB_ENV

    - name: Setup Disk & Swap Space 游
      run: |
        echo Before:
        free -h
        df -h

        echo
        echo

        sudo swapoff /mnt/swapfile
        sudo rm /mnt/swapfile
        sudo fallocate -l 10G /mnt/swapfile
        sudo chmod 600 /mnt/swapfile
        sudo mkswap /mnt/swapfile
        sudo swapon /mnt/swapfile

        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc

        sudo fallocate -l 10G /home/runner/swapfile2
        sudo chmod 600 /home/runner/swapfile2
        sudo mkswap /home/runner/swapfile2
        sudo swapon /home/runner/swapfile2

        echo
        echo

        echo After:
        free -h
        df -h

    - uses: actions/checkout@v3
      name: Clone 游빏

    - name: Setup 游뿥
      run: |
        cp ./.github/mozconfig_linux_aarch64_pgo_base mozconfig
        echo 'ac_add_options --with-branding=browser/branding/official' >> mozconfig
        echo 'ac_add_options --enable-profile-generate=cross' >> mozconfig

        sudo apt update
        sudo apt install p7zip-full
        
        ./mach --no-interactive bootstrap --application-choice browser

        $RUNNER_USERDIR/.cargo/bin/rustup target add aarch64-unknown-linux-gnu

    - name: Build 游댣
      run: |
        ./mach build

    - name: Package 游닍
      run: |
        ./mach package

    - name: Copy 游늭
      run: |
        mkdir $RUNNER_USERDIR/output
        cp -r obj-aarch64-unknown-linux-gnu/dist/floorp $RUNNER_USERDIR/output/

    - name: Publish 游꾸
      uses: actions/upload-artifact@master
      with:
        name: floorp-linux-aarch64-build-with-enable-profile-generate
        path: ${{ env.RUNNER_USERDIR }}/output

  generate-profdata-and-jarlog:
    name: Generate profdata and jarlog
    
    needs: build-with-enable-profile-generate
    runs-on: self-hosted-linux-aarch64
    
    steps:
    - name: Init
      run: |
        export RUNNER_USERDIR=`echo ~`
        echo "RUNNER_USERDIR=$RUNNER_USERDIR" >> $GITHUB_ENV

    - uses: actions/download-artifact@v3
      name: Download artifact 游닌
      with:
        name: floorp-linux-aarch64-build-with-enable-profile-generate
        path: ${{ env.RUNNER_USERDIR }}/floorp-pgo

    - uses: actions/checkout@v3
      name: Clone 游빏

    - name: Setup 游뿥
      run: |
        aria2c -o clang.tar.zst https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/gecko.cache.level-3.toolchains.v3.linux64-clang-14.latest/artifacts/public%2Fbuild%2Fclang.tar.zst
        tar -xvf clang.tar.zst

        LLVM_PROFDATA=$PWD/clang/bin/llvm-profdata JARLOG_FILE=en-US.log ./mach python build/pgo/profileserver.py --binary $RUNNER_USERDIR/floorp-pgo/floorp/floorp

    - name: Publish 游꾸
      uses: actions/upload-artifact@master
      with:
        name: floorp-linux-aarch64-profdata-and-jarlog
        path: |
          merged.profdata
          en-US.log

  build-with-profdata-and-jarlog:
    name: Build with profdata and jarlog
    
    runs-on: ubuntu-22.04
    
    steps:
    - name: Init
      run: |
        export RUNNER_USERDIR=`echo ~`
        echo "RUNNER_USERDIR=$RUNNER_USERDIR" >> $GITHUB_ENV

    - name: Setup Disk & Swap Space 游
      run: |
        echo Before:
        free -h
        df -h

        echo
        echo

        sudo swapoff /mnt/swapfile
        sudo rm /mnt/swapfile
        sudo fallocate -l 10G /mnt/swapfile
        sudo chmod 600 /mnt/swapfile
        sudo mkswap /mnt/swapfile
        sudo swapon /mnt/swapfile

        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/ghc

        sudo fallocate -l 10G /home/runner/swapfile2
        sudo chmod 600 /home/runner/swapfile2
        sudo mkswap /home/runner/swapfile2
        sudo swapon /home/runner/swapfile2

        echo
        echo

        echo After:
        free -h
        df -h

    - uses: actions/download-artifact@v3
      name: Download artifact 游닌
      with:
        name: floorp-linux-aarch64-profdata-and-jarlog
        path: ${{ env.RUNNER_USERDIR }}/artifact

    - uses: actions/checkout@v3
      name: Clone 游빏

    - name: Clone l10n-central 游빏
      run: |
        git clone --depth 1 https://github.com/Floorp-Projects/l10n-central.git $RUNNER_USERDIR/l10n-central

    - name: Setup 游뿥
      run: |
        cp ./.github/mozconfig_linux_aarch64_pgo_base mozconfig
        echo 'ac_add_options --with-branding=browser/branding/official' >> mozconfig
        echo 'ac_add_options --with-l10n-base=$RUNNER_USERDIR/l10n-central/l10n-central' >> mozconfig
        echo 'ac_add_options --enable-profile-use=cross' >> mozconfig
        echo 'ac_add_options --with-pgo-profile-path=$RUNNER_USERDIR/artifact/merged.profdata' >> mozconfig
        echo 'ac_add_options --with-pgo-jarlog=$RUNNER_USERDIR/artifact/en-US.log' >> mozconfig

        sudo apt update
        sudo apt install p7zip-full
        
        ./mach --no-interactive bootstrap --application-choice browser

        $RUNNER_USERDIR/.cargo/bin/rustup target add aarch64-unknown-linux-gnu

    - name: Build 游댣
      run: |
        ./mach build

    - name: Package 游닍
      run: |
        ./mach package
        ./mach package-multi-locale --locales ar cs da de el en-GB en-US es-ES es-MX fr hu id it ja ja-KA ko lt nl nn-NO pl pt-BR pt-PT ru sv-SE th vi zh-CN zh-TW

    - name: Copy 游늭
      run: |
        mkdir $RUNNER_USERDIR/output
        cp -r obj-aarch64-unknown-linux-gnu/dist/floorp-*.tar.bz2 $RUNNER_USERDIR/output/

    - name: Publish 游꾸
      uses: actions/upload-artifact@master
      with:
        name: floorp-linux-aarch64-build-with-enable-profile-generate
        path: ${{ env.RUNNER_USERDIR }}/output
